<div class="w-screen container mx-auto">

<h1 class="text-4xl germania text-center">{{this.title}}</h1>
<h4 class="text-1 germania text-center"><span>Cazando a </span> {{this.name}}</h4>
<p class="text-4xl germania text-center">0</p>
<hr>
<span class="flex flex-wrap">
    <span *ngFor="let nombre of this.nombres; let indice=index" class=" w-full sm:w-1/2 md:w-1/3">
        <li class="list-none h-15 p-5 text-2xl cursor-pointer hover:text-red-600">
            <a name="{{links[indice]}}" (click)="getPage(this.links[indice], this.name)">{{nombre}}</a>        
        </li>
    </span>
</span>
</div>