<nav class="font-sans text-center flex justify-between mt-2 mb-0 p-2 sm:p-0 mx-auto container overflow-hidden">
    <a href="/" class="block text-left">
      <h1 class="germania text-5xl">Wiki Hunt</h1>
    </a>
    <ul class="text-sm text-gray-700 list-none p-0 flex items-center">
      <li class="pl-2 border-l"><a href="#" class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline"> Entrar </a></li>
      <button class="bg-black hover:bg-text-gray-800 text-white ml-4 py-2 px-3"> Registratse </button>
    </ul>
  </nav>